<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
</head>
<body>
<div id="app">
    <h2>管理员：消息管理界面</h2>
    <input placeholder="搜索消息" type="text" v-model="searchKeyword">
    <table class="table">
        <thead>
        <tr>
            <th>发送者用户名</th>
            <th>接收者用户名</th>
            <th>短信内容</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="message in filteredMessages" v-if="filteredMessages.length > 0">
            <td v-text="message.fromUserName"></td>
            <td v-text="message.toUserName"></td>
            <td v-text="message.content"></td>
            <td>
                <button @click="openEditModal(message)" class="btn btn-primary">编辑</button>
                <button @click="openDeleteModal(message)" class="btn btn-danger">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 编辑消息的模态框 -->
    <div aria-hidden="true" aria-labelledby="editMessageModalLabel" class="modal fade" id="editMessageModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editMessageModalLabel">编辑消息</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="messageContent">消息内容</label>
                            <textarea class="form-control" id="messageContent"
                                      v-model="currentMessage.content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">关闭</button>
                    <button @click="saveMessage" class="btn btn-primary" type="button">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除消息的模态框 -->
    <div aria-hidden="true" aria-labelledby="deleteMessageModalLabel" class="modal fade" id="deleteMessageModal"
         role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteMessageModalLabel">删除消息</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    确定要删除这个消息吗？
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">取消</button>
                    <button @click="deleteMessage" class="btn btn-danger" type="button">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            messages: [],
            currentMessage: {},
            searchKeyword: ''  // 添加新的data属性
        },
        created() {
            this.refreshMessages();
        },
        methods: {
            refreshMessages() {
                axios.get('/api/allMessages')
                    .then(response => {
                        console.log("Received messages: ", response.data);  // 添加日志以检查接收到的消息
                        this.messages = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            openEditModal(message) {
                this.currentMessage = Object.assign({}, message);
                $('#editMessageModal').modal('show');
            },
            openDeleteModal(message) {
                this.currentMessage = Object.assign({}, message);
                $('#deleteMessageModal').modal('show');
            },
            saveMessage() {
                axios.post('/api/editMessage', this.currentMessage)
                    .then(response => {
                        if (response.data.success) {
                            this.refreshMessages();
                            $('#editMessageModal').modal('hide');
                        } else {
                            console.log('保存消息失败');
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            deleteMessage() {
                axios.post('/api/deleteMessage', this.currentMessage)
                    .then(response => {
                        if (response.data.success) {
                            this.refreshMessages();
                            $('#deleteMessageModal').modal('hide');
                        } else {
                            console.log('删除消息失败');
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },
        computed: {
            // 修改过滤逻辑
            filteredMessages() {
                if (this.searchKeyword === '') {
                    return this.messages;
                } else {
                    return this.messages.filter(message =>
                        message.content.includes(this.searchKeyword) ||
                        message.fromUserName.includes(this.searchKeyword) ||
                        message.toUserName.includes(this.searchKeyword)
                    );
                }
            }
        }
    });
</script>
</body>
</html>