<!DOCTYPE html>
<html lang="en" xmlns:x-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <style>
        [x-cloak] {
            display: none;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            width: 300px;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
<div x-data="loginForm" x-cloak>
    <form x-on:submit.prevent="submitForm">
        <h2>登录</h2>
        <div class="form-group">
            <label for="username">用户名</label>
            <input x-model="username" type="text" id="username" name="username" required placeholder="请输入用户名"
                   class="form-control">
            <label for="password">密码</label>
            <input x-model="password" type="password" id="password" name="password" required placeholder="请输入密码"
                   class="form-control">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">登录</button>
            <button @click="window.location.href='/register'" type="button" class="btn btn-primary">注册</button>
        </div>
        <p x-text="errorMessage" class="text-danger"></p>
    </form>
</div>

<script>
    const loginForm = {
        username: '',
        password: '',
        errorMessage: '',
        submitForm() {
            console.log("执行登录操作");
            // login.html
            axios.post('/login', JSON.stringify({
                username: this.username,
                password: this.password
            }), {
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then((response) => {
                    if (response.data.success) {
                        window.location.href = response.data.redirectUrl;
                    } else {
                        this.errorMessage = "用户名或密码错误";
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.errorMessage = "登录失败";
                });
        }
    };
</script>
</body>
</html>